:root {
  --primary-color: rgb(11, 47, 75);
  --secondary-color: rgba(128, 128, 128, 1);
  --white-color: rgba(255, 255, 255, 1);
}
.hero {
  background-color: var(--primary-color);
}
html {
  font-family: var(--font-inter);
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48.96px;
  text-align: left;
  color: var(--white-color);
  font-family: var(--font-roboto-mono);
}
.hero .tag-line {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.18em;
  text-align: left;
  color: rgba(116, 199, 243, 1);
}
.hero .what-we-do {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
  color: var(--white-color);
}
.hero button {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 20px 40px;
}
.odd-card {
  border-right: 0 !important;
  border-left: 0 !important;
}
.top-selling-items {
  width: 20%;
}

.newly-btn {
  background-color: var(--white-color) !important;
  color: var(--primary-color) !important;
  border: none !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  padding: 14px 32px !important;
  border-radius: 5px !important;
}

.types h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 48.4px;
}
.types p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.types button {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
  border: none !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  padding: 14px 32px !important;
  border-radius: 5px !important;
}
.learn-more .card-title {
  font-size: 18px !important;
  color: rgba(0, 107, 163, 1);
}
.learn-more .card-text {
  font-size: 15px !important;
}
.learn-more a {
  color: rgba(228, 82, 0, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
}
.learn-more .card:hover .card-text {
  color: rgba(0, 107, 163, 1);
}
.learn-more .card:hover {
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.04);
}

.icons svg:hover g path {
  fill: rgba(0, 107, 163, 1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(0, 107, 163, 0.8);
  display: flex;
  justify-content: center;
  align-items: center !important;
  border-radius: 10px !important;
}

.instaouter:hover .overlay {
  opacity: 1;
}
.featured-btn {
  padding: 14px 32px 14px 32px !important;

  border-radius: 5px !important;

  background: rgba(0, 107, 163, 1) !important;
  border: none !important;
}

.footer-links-color {
  color: #999999;
}
footer h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
footer ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
footer ul li a:hover {
  color: white;
}
@media only screen and (max-width: 768px) {
  .hero button {
    width: 100%;
  }
  .top-selling-items {
    width: 100%;
  }
  .odd-card {
    border-right: 1px solid #d2d2d2 !important;
    border-left: 1px solid #d2d2d2 !important;
  }
  .icons {
    border: none !important;
  }
}
