:root {
  --primary-color: rgb(11, 47, 75);
  --secondary-color: rgba(128, 128, 128, 1);
  --white-color: rgba(255, 255, 255, 1);
}
/* .header a {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #808080;
} */
/* .hero {
  background-color: var(--primary-color);
}
.search-btn {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  border-radius: 4px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  margin-left: -20px;
} */
html {
  font-family: var(--font-inter);
}

/* .hero h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48.96px;
  text-align: left;
  color: var(--white-color);
  font-family: var(--font-roboto-mono);
}
.hero .tag-line {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.18em;
  text-align: left;
  color: rgba(116, 199, 243, 1);
}
.hero .what-we-do {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
  color: var(--white-color);
}
.hero button {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 20px 40px;
} */
/* .odd-card {
  border-right: 0 !important;
  border-left: 0 !important;
} */
/* .top-selling-items {
  width: 20%;
} */

/* .newly-btn {
  background-color: var(--white-color) !important;
  color: var(--primary-color) !important;
  border: none !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  padding: 14px 32px !important;
  border-radius: 5px !important;
  display: flex;
} */

/* .types h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 48.4px;
}
.types p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.types button {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
  border: none !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  padding: 14px 32px !important;
  border-radius: 5px !important;
} */
/* .learn-more .card-title {
  font-size: 18px !important;
  color: rgba(0, 107, 163, 1);
}
.learn-more .card-text {
  font-size: 15px !important;
}
.learn-more a {
  color: rgba(228, 82, 0, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
}
.learn-more .card:hover .card-text {
  color: rgba(0, 107, 163, 1);
}
.learn-more .card:hover {
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.04);
} */

.icons svg:hover g path {
  fill: rgba(0, 107, 163, 1);
}

/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(0, 107, 163, 0.8);
  display: flex;
  justify-content: center;
  align-items: center !important;
  border-radius: 10px !important;
} */

/* .instaouter:hover .overlay {
  opacity: 1;
} */
/* .featured-btn {
  padding: 14px 32px 14px 32px !important;

  border-radius: 5px !important;

  background: rgba(0, 107, 163, 1) !important;
  border: none !important;
} */

/* .footer-links-color {
  color: #999999;
}
footer h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
footer ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
footer ul li a:hover {
  color: white;
} */

@media only screen and (max-width: 768px) {
  .hero button {
    width: 100%;
  }
  .slick-next {
    right: 10px !important;
  }
  .slick-prev {
    left: 10px !important;
    z-index: 999 !important;
  }

  .top-selling-items {
    width: 100%;
  }
  /* .odd-card {
    border-right: 1px solid #d2d2d2 !important;
    border-left: 1px solid #d2d2d2 !important;
  } */
  .icons {
    border: none !important;
  }
  .talk h1 {
    font-size: 30px !important;
  }
}
.talk h1 {
  font-size: 48px;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 48px;
  line-height: 57.6px;
  margin-top: 1.5rem;
}

/* .filter-btn {
  background-color: white !important;
  border: 1px solid #00283d !important;
  border-radius: 60px !important;
  color: white !important;
  padding: 10px 32px;
} */
.category-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #1a1a1a;
}
.accordion-button:not(.collapsed) {
  background-color: white !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-item {
  border: none !important;
}

/* .custom-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
} */

.product-detail h4 {
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  text-align: left;
  color: #1a1a1a;
}
.product-detail .stock {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  text-align: left;
  color: #00283d;
  background: #dce2e6 !important;
}
.product-detail .sale {
  font-size: 14px !important;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #ea4b48;
  background-color: #fdeded !important ;
}
.product-detail .brand {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #1a1a1a;
}

/* .filter-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
} */
/* .Range {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}
.multi-range-slider {
  display: flex;
  position: none !important;
  border: none !important;
  border-radius: none !important;
  padding: none !important;
  box-shadow: none !important;
  flex-direction: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.multi-range-slider .bar-inner {
  background-color: #006ba3 !important;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;
  position: relative;
  border: none !important;
  justify-content: space-between;
  box-shadow: none !important;
}
.multi-range-slider .bar-right {
  width: 25%;
  background-color: #e6e6e6 !important;
  border-radius: 0px 10px 10px 0px;
  box-shadow: none !important;
}
.multi-range-slider .bar-left {
  width: 25%;
  background-color: #e6e6e6 !important;
  border-radius: 10px 0px 0px 10px;
  box-shadow: none !important;
  padding: none !important;
}
.multi-range-slider .thumb::before {
  content: "";
  background-color: white !important;
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid 2px #006ba3 !important;
  box-shadow: none !important;
  border-radius: 50%;
  z-index: 1;
  margin: -8px -12px;
  cursor: pointer;
} */

.accordion-header button {
  padding-left: 0 !important;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48.96px;
  text-align: left;
  color: var(--white-color);
  font-family: var(--font-roboto-mono);
}
.hero .tag-line {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.18em;
  text-align: left;
  color: rgba(116, 199, 243, 1);
}
.hero .what-we-do {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
  color: var(--white-color);
}
/* .filter-result {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.filter-btn {
  background-color: white !important;
  border: 1px solid #999999 !important;
  border-radius: 43px !important;
  color: #999999 !important;
  padding: 10px 20px !important;
} */

.accordion-button:not(.collapsed) {
  background-color: white !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-item {
  border: none !important;
}
/* .filter-image {
  margin-left: 0.5rem;
} */
.product-detail {
  margin-top: 6rem;
}
.social {
  display: flex;
  justify-content: space-between;
}

/* .add-to-cart-button {
  border-radius: 5px;
  padding: 12px 40px;
  background-color: #00283d !important;
} */
.go-to-cart {
  border-radius: 5px;
  padding: 12px 40px;
  color: #00283d !important;
  background-color: #e6eaed !important;
  font-weight: 600 !important;
  line-height: 19.2px;
}
.radio-input {
  margin-right: 0.5rem;
}

.whilist {
  background-color: white !important;
  border-color: white !important;
}
/* .text-gray {
  color: #808080;
} */
.text-black {
  color: black;
}
.favourite {
  margin-left: 1rem;
}

/* .footer-social {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
} */
/* .footer-social:hover {
  background-color: var(--primary-color);
  transition: ease-out 0.2s;
}

.footer-social:hover svg path {
  fill: var(--white-color) !important;
} */

/* .subscribe-btn {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  border-radius: 4px;

  margin-left: -20px;
} */

/* .btn-inc {
  background: transparent;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  margin-left: 0.5rem;
  padding: 4px 12px;
}
.btn-dec {
  background: transparent;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  padding: 4px 12px;
} */
/* .inc-dec {
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  width: 124px;
  height: 50px;
} */

/* .form-check-input:checked {
  background-color: #00283d !important;
  border-color: none !important;
}
.form-check-input:focus {
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}
.form-check-label {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 21px !important;

  color: #808080 !important;
} */

/* .heart-outer {
  width: 50px;
  height: 50px;
  background-color: #e6eaed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
} */

/* .bill-form .form-label {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
  text-align: left;
  color: #1a1a1a !important;
}
.bill-form .form-control::placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #999999 !important;
  border-color: #e6e6e6 !important;
}

.bill-form .form-select-lg {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #999999 !important;
  border-color: #e6e6e6 !important;
}
.bill-form .form-control:focus {
  color: none !important;
  background-color: none !important ;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}
.bill-form .form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
} */

/* .addres .form-check-label {
  
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    text-align: left;
    color: #1A1A1A !important;
    
  } */

/* .close-btn {
  background-color: white !important;
} */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: 1px solid white !important;
  border-radius: 8px !important;
  outline: 0;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: var(--bs-modal-header-padding);
  border-bottom: none !important;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center !important;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: var(--bs-modal-footer-bg);
  border-top: none !important;
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}

/* .orderhistory {
  display: flex;
  justify-content: space-between;
} */
/* .background {
  background-image: url("../assets/Bannar.png");
  background-size: cover;
} */

/* .label-acct {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #1a1a1a;
}

.chose-image-button {
  border-radius: 5px;
  padding: 12px 40px;
  background-color: white !important;
  color: #006ba3 !important;
  border: 2px solid #006ba3;
}
.chose {
  margin-left: 4.5rem;
} */
/* .account {
  border-bottom: 1px solid #e5e5e5;
} */
/* .new-address-button {
  border-radius: 5px;
  padding: 12px 40px;
  background-color: #999999 !important;
} */
/* .contact {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
} */
/* .accord-header {
  color: #00283d;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: 500;
  font-size: 16px;
}
.body-accord {
  border: 1px solid #00283d;
} */
.organic {
  display: flex;
}
.social-card {
  display: flex;
}
/* .size {
  background: transparent;
  background-color: white;

  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 5px;
} */
.history-btn {
  display: flex;
  justify-content: center;
}
.history-payment {
  display: flex;
  justify-content: space-between;
}
/* .order-no-button {
  border-radius: 5px;
  padding: 8px 50px;
  background-color: #e3e3e3 !important;
  color: black;
}
.order-yes-button {
  border-radius: 5px;
  padding: 8px 50px;
  background-color: #ff4244 !important;
} */
.det-hero {
  margin-top: 10rem;
}
/* .dash-button {
  border-radius: 5px;
  padding: 16px 40px;
  background-color: #00283d !important;
}
.view-btn {
  display: flex;
  justify-content: end;
} */

.test {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.test-button {
  padding: 0px 0px;
  background-color: #f2f2f2 !important;
}

.address-checkbox .form-check-input {
  margin-top: 16px;
}

/* .number .PhoneInputCountry {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: var(--PhoneInputCountrySelect-marginRight);
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  padding: 14px 16px;
}
.number .PhoneInputInput {
  flex: 1 1;
  min-width: 0;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  padding: 14px 16px;
} */

/* .fqa .accordion-button.collapsed {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
  background-color: #f2f2f2 !important;
  padding-left: 1rem !important;
}
.fqa .accordion-button {
  padding-left: 1rem !important;
}
/* .fqa .accordion-button{
  border: 1px solid black;
} */

/* .fqa .accordion-button:not(.collapsed)::after {
  background-image: url("../assets/minus.png") !important;
}
.fqa .accordion-button::after {
  background-image: url("../assets/plus.png");
} */ 

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
/* .slick-prev:before {
  content: '←';
} */
/* .form-check-input:checked {
  background-color: #36c63f !important;
  border-color: none !important;
} */
a {
  text-decoration: none !important ;
}
.term-text {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  /* .category-product-card .card-text {
    font-size: 12px !important;
  }
  .category-product-card .category-price {
    font-size: 12px !important;
  } */
  /* .product-detail .detail-head h4 {
    font-size: 28px !important;
  }
  .product-detail .detail-head .stock {
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
  } */
  .add-to-cart-button {
    border-radius: 5px;
    padding: 12px 20px;
    background-color: #00283d !important;
  }

  .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 60% !important;

    background-color: black !important;
    opacity: 0.5;
  }
  /* .about-heading h2 {
    font-size: 32px !important;
  }

  .about-heading p {
    font-size: 14px !important;
  } */
}

/* .about-heading h2 {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 56px;
}

.about-heading p {
  color: #666666;
  font-weight: 400;
  font-size: 18px;
} */

/* .shopping-table {
  overflow: auto;
} */
.react-stars {
  display: flex !important;
}
.hero button:hover {
  background-color: white !important;
  color: #00283d !important;
}



.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}