/* .odd-card {
    border-right: 0 !important;
    border-left: 0 !important;
  }  */

  .odd-card {
    border-right-color: white !important;
    border-left-color: white !important;
    
   
  }
  .odd-card:hover{
    border-right-color: #006BA3 !important;
    border-left-color: #006BA3 !important;
    box-shadow: 0px 0px 12px 0px #20B52652;
   
  }



  .add-to-cart-button {
    border-radius: 5px;
    padding: 12px 20px;
    background-color: #00283d !important;
  }

  .featured-btn {
  padding: 14px 32px 14px 32px !important;

  border-radius: 5px !important;

  background: rgba(0, 107, 163, 1) !important;
  border: none !important;
}