.test {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .test-button {
    padding: 0px 0px;
    background-color: #f2f2f2 !important;
  }

.react-stars-wrapper-09047023734300346{
  justify-content: end;
}
